<section id="hero-<%= model.id %>" class="hero__container relative md:border-b-[50px] border-white p-10" style="--hero-image:url('<%= background_image %>')" data-process-hero>
  <div class="hero md:flex-row md:content-between md:justify-between">
    <h1 class="hero__title">
      <% if translated_welcome_text.blank? %>
        <%= t("decidim.pages.home.hero.welcome", organization: current_organization_name) %>
      <% else %>
        <div class="flex flex-col items-start gap-4 text-left md:wrap-break-word leading-none custom-size">
          <span class="text-sm md:text-2xl uppercase"><%= decidim_sanitize_admin(translated_welcome_up_text.presence || t("decidim.pages.home.hero.welcome_up_text")) %></span>
          <span class=""><%= decidim_sanitize_admin translated_welcome_text %></span>
          <p class="text-sm md:text-lg flex flex-row justify-start"><span><%= icon "map-pin-line", class: "fill-current" %></span><span><%= t("decidim.pages.home.hero.welcome_down_text_help") %></span><span class="pl-2"><%= decidim_sanitize_admin(translated_welcome_down_text.presence || t("decidim.pages.home.hero.welcome_down_text")) %></span></p>
        </div>
      <% end %>
    </h1>

    <%= render :cta_button %>
  </div>
  <svg 
    class="absolute bottom-0 left-0 w-full h-24"
    viewBox="0 0 500 100"
    preserveAspectRatio="none"
  >
    <defs>
      <clipPath id="wave-clip">
        <path d="M0,20 C60,120 90,80 160,75 L500,20 L500,100 L0,100 Z"/>
      </clipPath>
      <filter id="curve-blur">
        <feGaussianBlur stdDeviation="3"/>
      </filter>
    </defs>

    <path
      d="M0,20 C60,120 90,80 160,75 L500,20 L500,100 L0,100 Z"
      fill="white"
    />

    <path
      d="M-10,20 C60,120 90,80 160,75 L510,20"
      fill="none"
      stroke="rgba(0, 0, 0, 0.15)"
      stroke-width="15"
      clip-path="url(#wave-clip)"
      filter="url(#curve-blur)"
    />
  </svg>
</section>

<style>
  @media (min-width: 768px) {
    .custom-size {
      inline-size: 500px;
    }
  }
</style>